### Git LFS
# Images
*.jpg binary
*.jpeg binary
*.png binary
*.psd binary
*.tga binary
*.exr binary
*.tif binary
*.basis binary
*.ktx2 binary
*.webp binary
*.WEBP binary
# 3D Models
*.max binary
*.fbx binary
*.blend binary
*.glb binary
*.gltf binary
*.bin binary
*.usdz binary
*.depth binary
# Audio
*.ogg binary
*.mp3 binary
*.wav binary
*.au binary
*.aup binary
*.m4a binary
# Video
*.ogv binary
*.mp4 binary
*.avi binary
*.mov binary
*.mvn binary
*.mvna binary
*.MOV binary
*.webm binary